#sideToolbar {
    display: block;
    position: fixed;
    top: 50px;
    right: 20px;
    font-size: 14px;
}
#sideCatalog {
    font-size: 1em;
    height: 355px;
    left: 10px;
    line-height: 19px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 290px;
    zoom: 1;
}
#sideCatalog #sideCatalog-sidebar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eaeaea;
    border-image: none;
    border-color: -moz-use-text-color #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-style: none solid;
    border-width: 0 1px;
    height: 353px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 0;
}
#sideCatalog-catalog {
    height: 325px;
    margin-top: 18px;
    overflow: hidden;
    padding-left: 23px;
    position: relative;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
    cursor: pointer;
    top: 0;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    bottom: 0;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top,
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    background: url("sideToolbar.png") no-repeat scroll 0 -199px transparent;
    height: 10px;
    left: -5px;
    overflow: hidden;
    position: absolute;
    width: 10px;
    zoom: 1;
}
#sideCatalog-catalog dl {
    position: relative;
}
#sideCatalog .sideCatalog-item1 a:hover,
#sideCatalog .sideCatalog-item2 a:hover,
#sideCatalog .sideCatalog-item3 a:hover {
    color: #36c
}
.sideCatalog-item1,
.sideCatalog-item2,
.sideCatalog-item3 {
    margin: 0 0 6px;
    padding: 0 7px;
    position: relative;
}
.sideCatalog-item2 {
    padding-left: 21px;
}
.sideCatalog-item3 {
    padding-left: 35px;
}
#sideCatalog span.sideCatalog-index1,
#sideCatalog span.sideCatalog-index2,
#sideCatalog span.sideCatalog-index3 {
    color: #999;
    font-family: Arail;
    font-size: 14px;
    padding-right: 5px;
}
#sideCatalog span.sideCatalog-index1 {
    font-weight: bold;
}
#sideCatalog .sideCatalog-item1 a {
    color: #555;
    font-weight: bold;
}
#sideCatalog .sideCatalog-item2 a,
#sideCatalog .sideCatalog-item3 a {
    color: #666;
}
#sideCatalog .sideCatalog-item1 a,
#sideCatalog .sideCatalog-item2 a,
#sideCatalog .sideCatalog-item3 a {
    text-decoration: none;
}
.sideCatalog-item1:hover,
.sideCatalog-item2:hover,
.sideCatalog-item3:hover {
    background: #f5f5f5;
    border-radius: 2px;
    box-shadow: 0 1px 0 #eaeaea
}
#sideCatalog .highlight span.sideCatalog-dot {
    background: url("sideToolbar.png") no-repeat scroll -271px -38px transparent;
    height: 13px;
    left: -23px;
    top: 3px;
    width: 18px;
}
.sideCatalog-dot {
    background: url("sideToolbar.png") repeat scroll 0 -222px transparent;
    cursor: pointer;
    font-size: 12px;
    height: 10px;
    left: -20px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 6px;
}
.sideCatalog-dot:hover {
    background-position: 0 -245px
}
#sideCatalog-updown {
    bottom: 160px;
    height: 50px;
    position: absolute;
    right: 60px;
    width: 22px;
    z-index: 100;
    display: none;
}
#sideCatalog-up {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.sideCatalog-up-enable {
    background: url("sideToolbar.png") no-repeat scroll -245px -83px transparent;
}
.sideCatalog-up-disable {
    background: url("sideToolbar.png") no-repeat scroll -272px -83px transparent;
}
.sideCatalog-down-enable {
    background: url("sideToolbar.png") no-repeat scroll -245px -108px transparent;
}
.sideCatalog-down-disable {
    background: url("sideToolbar.png") no-repeat scroll -272px -108px transparent;
}
#sideCatalog-down {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
#sideCatalog-dl {
    margin: 0;
    padding: 0;
}
#sideCatalogBtn {
    background: url("sideToolbar.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 45px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: relative;
    width: 45px;
}
.sideCatalogBtnDisable {
    background: url("sideToolbar.png") no-repeat scroll -104px 0 transparent !important;
}
.sideCatalogBtnDisable:hover {
    background: url("sideToolbar.png") no-repeat scroll -154px 0 transparent !important;
}
